# Sensitive and guide documents
firebase_guide/

# Dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment & temporary files
.env
.env.local
testing.html

# OS metadata
.DS_Store
Thumbs.db
